#navbar a {
  text-decoration: none;
}
#navbar ul {
  list-style: none;
  height: 80%;
}
#navbar li {
  border-top: 1px solid;
  color: #4d4e53;
  width: 100%;
  padding: 8px;
  padding-left: 45px;
  position: relative;
  left: -50px;

}
#navbar {
  position: fixed;
  top: 0;
  border-right: solid #4d4e53;
  min-width: 290px;
  width: 300px;
}
#main-doc {
  position: relative;
  margin-left: 310px;
  padding: 20px;
}
.main-section article {
  margin: 15px;
}
code {
  background: #F7F7F7;
  white-space: pre;
  display: block;
  border-radius: 5px;
  margin: 10px;
  line-height: 2;
}
